body {
    background: linear-gradient(270deg, #6a9eff, #a1c4fd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;        
    color: cyan;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    margin: 0;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 80px;
    background-color: #333;
    color: cyan;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: cyan;
    color: black;
}

.container {
    width: 100%;
    max-width: 1050px; /* Adjusted max-width for larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: none; /* Initially hidden */
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.card.flipped {
    color: white;
    background-color: #555;
}

.card.match {
    border: 3px solid cyan;
}

.timer {
    margin-top: 10px;
    color: teal;
}

.toast {
    position: absolute;
    bottom: 20px; /* Positioned below center */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: opacity 0.5s;
}
